@import '__variable.scss';
.furniture_footer {
    &__wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        position: sticky;
        top: 100%
    }
    &__title {
        color: $light
    }
    &__about{
         p{
            width: 85%;
            color: silver;
        }
    }
    &__subcribe{
        width: 90%;
        button{
            width: 100px;
            border-style: none;
            background-color: #262626;
            color: $light;
            height: 38px;
        }
        h6{
            margin-bottom: 15px;
            color: white;
        }
    }
    &__end{
        border-top: 1px solid white;
        background-color: black;
        margin-top: 20px;
        padding-top: 20px;
        p{
            color: white;
            text-align: center;
            margin-bottom: 0;
        }
    }
    &__social-media{
        margin-top: 20px;
        i{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #434343;
            height: 35px;
            width: 35px;
            border-radius: 4px;
            transition: 0.6s;
            margin-right: 12px;
            &:hover{
                cursor: pointer;
                background-color: red;
            }
        }
    }
    &__contact{
        p{
            color: #eee;
            font-size: 16px;
            width: 90%;
        }
        i{
            margin-right: 12px;
        }
    }
}
