@import "../__variable.scss";

.furniture-wrapper {
    height: auto;
    &--hover:hover {
        box-shadow: 3px 2px 10px 2px #bfbfbf;
        transition: all 0.5s;
    }
    &--shadow {
        box-shadow: 3px 2px 10px 2px #bfbfbf;
    }
}